<p>
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TucGameMaster</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/users" routerLinkActive="active">
      Users
    </button>
    <button mat-button routerLink="/games" routerLinkActive="active">
      Games
    </button>
    <button mat-button routerLink="/play" routerLinkActive="active">
      Play
    </button>
    <button mat-button routerLink="/tournaments" routerLinkActive="active">
      Tournaments
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
